extends Layout

block content
    div
        form(action ='/user', method='GET')
           button(type ='Submit') #{i18n.__('back')}
        h1 #{i18n.__('historicTitle')}
        br
        table
            each reservation in reservations
                thead
                    th #{i18n.__('date')}
                    th #{i18n.__('departure')}
                    th #{i18n.__('duration')}
                    th #{i18n.__('destiantion')}
                    th #{i18n.__('groupName')}
                    th #{i18n.__('bikeNumber')}
                    th #{i18n.__('remarks')}
                    th #{i18n.__('status')}
                tbody
                    td #{reservation.dataValues.date.dataValues.day}.#{reservation.date.dataValues.month}.#{reservation.date.dataValues.year}
                    td #{reservation.dataValues.from}
                    td #{reservation.dataValues.time.dataValues.hour}:#{reservation.time.dataValues.minute}
                    td #{reservation.dataValues.to}
                    td #{reservation.dataValues.groupName}
                    td #{reservation.dataValues.bikeNumber}
                    td #{reservation.dataValues.remarks}
                    td #{reservation.dataValues.state.dataValues.name}
                    td
                        form(action ='/user/historic/delete', method='Post')
                            input(hidden=true, type='text', value=reservation.dataValues.id_reservation, name='idreservation')
                            button(type ='Submit') #{i18n.__('b_delete')}
