extends layout
block content
  h1(align='center') #{i18n.__('welcomeTitle')}
  div(align='center')
    h4 #{i18n.__('resabikeP')}
    br
    h4 #{i18n.__('redirectLogin')}
    center
      h5
        form(action ='/login', method='get,')
          button(type='submit') #{i18n.__('login')}
          br
    img.responsive-img(src='image/Panorama_7.jpg', align='center')
    br
    h4 #{i18n.__('supportP')}
    br
    br
    h4 resabikeccjzsupport@gmail.com
    br
    br
    h4 #{i18n.__('feedbackP')}

block footer
  div
    div(class="container")
      divMain.form-group
          |
          br
          |
          form.form-vertical(role='form', method='post', action='/email')

            .form-group
              .col-sm-10
                textarea#message.form-control(rows='11', name='message', placeholder='Le contenu de votre mail',style='border:none;color:#FFFFFF;background-color:#FFFFFF')
            |
            .form-group
              .col-sm-10
                center
                  button.btn.btn-primary(type='submit') #{i18n.__('send')}
