extends layout

block content
    div
        h1 #{i18n.__('resgistrationTitle')}
        form(action ='/login/registration', method='POST')
            table
                tr(width='33%')
                    label(for='idFirstName',width='33%') #{i18n.__('username')}
                    input(type='text', id='idFirstName', name='username', placeholder=i18n.__('usernameInput'),required=true)


                tr(width='33%')
                    label(for='idLastName') #{i18n.__('password')}
                    input(type='password', id='idLastName',name='password', placeholder=i18n.__('passwordInput'),required=true)
                button(type='submit') #{i18n.__('buttonRegister')}


