extends layout
block script

block content
        div

            - var listZone = zones;

                label Zone

                each zone in listZone
                    .zone

                        br
                        table
                            tbody
                                td #{zone.id_zone}


                                td #{zone.name}
                                td
                                    form(action ='/sadmin/sa_line/'+zone.id_zone , method='GET')
                                        button(type ='Submit') show line


        div
            br
            Label Add new Zone
            form(action ='/sadmin', method='POST')
                table

                    tr(width='20%')
                       td
                           label(for='idNewZone',width='20%') Zone
                       td
                           input(type='text', id='idNewZone', name='name', placeholder='Type your New Zone here', required=true)


                    tr(width='20%')
                        td
                            label(for='idNewZoneUserName') UserName
                        td
                            input(type='text', id='idNewZoneUserName',name='username', placeholder='Type the new Username here', required=true)

                    tr(width='20%')
                        td
                            label(for='idNewZonePassword',width='20%') Password
                        td
                            input(type='password', id='idNewZonePassword', name='password', placeholder='Type the new Passwprd', required=true)

                button(type ='Submit') add now