extends layout

block script
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(type='text/css', rel='stylesheet', href='/materialize/css/materialize.min.css', media='screen,projection')
    link(href='/stylesheets/jquery-ui.min.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='/javascripts/Onclick.js')
    script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/materialize/js/materialize.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
    script(src='/javascripts/dbCompletion.js')
    script(src='/javascripts/apiTrajet.js')

block content


        div
            br
            br
            h1 #{i18n.__('userTilte')}
            form(action ='/user/historic' , method='GET', align='right')
                button(type ='Submit') #{i18n.__('b_historic')}
            br
            table
                thead
                    tr
                        th #{i18n.__('date')}
                        th #{i18n.__('departure')}
                        th #{i18n.__('destiantion')}
                        th
                        th
                tbody
                    tr
                        td
                            input.form-control(type='date', name='date', id='date')
                        td
                            input(type='text', id='from', name='from', placeholder=i18n.__('departureInput'),size='35',onkeydown='autocomp(this.id)')
                        td
                           input(type='text', id='to', name='to', placeholder=i18n.__('destinationInput'),size='35',onkeydown='autocomp(this.id)')
                        td
                            button(onclick='search(this.id)', id=i18n.__('reserver'), type='none') #{i18n.__('b_search')}

        br
        div(name='mydivs' )
            table(id='auto')
                thead
                    tr
                        th #{i18n.__('date')}
                        th #{i18n.__('departure')}
                        th #{i18n.__('destiantion')}
                        th #{i18n.__('reservation')}
                tbody

